# Stuff
test.*
/___adminpanel/
/stats/
/apc.php
/.idea


# CI related
application/config/development

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# Boilerplate files
boilerplate/bower_components
boilerplate/node_modules
