@brand-primary:             @asbestos;
@brand-secondary:           @midnight-blue;
/*@brand-success:             @emerald;*/
@brand-success:             #00B16A;
@brand-warning:             @sun-flower;
@brand-danger:              @alizarin;
@brand-info:                #85C4ED;

/*@brand-primary: #3498DB;
@brand-blue:    #004562;*/
/*@brand-success: #95d1c7;

@navbar-default-color:  @brand-blue;
@navbar-default-bg:     #fefefe;
@navbar-default-border: #EC248B;
@navbar-border-radius:  @border-radius-base;

// Navbar links
@navbar-default-link-color:        @navbar-default-color;
@navbar-default-link-hover-color:  darken(@navbar-default-link-color, 15%);
@navbar-default-link-hover-bg:     transparent;
@navbar-default-link-active-color: #fff;
@navbar-default-link-active-bg:    @brand-primary;

// Navbar toggle
@navbar-default-toggle-icon-bar-bg:  @navbar-default-link-color;
@navbar-default-toggle-border-color: @navbar-default-link-color;

// Dropdown
@dropdown-bg:     @navbar-default-link-active-bg;
@dropdown-border: @navbar-default-link-active-bg;

@dropdown-link-active-bg: @navbar-default-color;
@dropdown-link-color:     #fff;


// Legacy - Forms
@horizontalComponentOffset:       180px;*/